body {
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
}

p {
  text-align: center;
}
.columns-container {
  cursor: none;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  opacity: 1;
  transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
}

.columns-container.hide {
  transform: scale(0.5);
  opacity: 0;
}

.info {
  font-size: 35px;
  margin: 0.5em 0;
}

.title {
  font-size: 45px;
}

.albumart #albumart {
  width: 600px;
  height: 600px;
  transform: perspective(1300px) rotateY(10deg);
}
.column {
  margin-left: 5em;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: perspective(1000px) rotateY(-10deg);
}
