body {
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
  cursor: none;
}

p {
  text-align: center;
}
.columns-container {
  display: flex;
  width: 100%;
  height: 900px;
  justify-content: center;
  align-items: center;
  transform: translate3d(0,0,0) perspective(2000px) scale(1.5);
  transform-origin: 50% 50% 2000px;
}

.columns-container.animate {
  transition: transform 2s ease-in-out;
}

.columns-container.in {
  transform: translate3d(0,0,0) perspective(2000px) rotateY(-120deg) scale(1.5);
}

.columns-container.out {
  transform: translate3d(0,0,0) perspective(2000px) rotateY(120deg) scale(1.5);
}

.info {
  font-size: 35px;
  margin: 0.5em 0;
}

.title {
  font-size: 45px;
}

.albumart #albumart {
  width: 600px;
  height: 600px;
  transform: perspective(1300px) rotateY(10deg);
}
.column {
  margin-left: 5em;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: perspective(1300px) rotateY(-10deg);
}
