body {
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
  margin: 0;
}

p {
  text-align: center;
}
.columns-container {
  cursor: none;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.columns-container.hide {
  opacity: 0;
}

.info {
  font-size: 35px;
  margin: 0.5em 0;
}

.title {
  font-size: 45px;
}

.albumart #albumart {
  width: 600px;
  height: 600px;
}
.column {
  margin-left: 5em;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
